<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio website</title>
</head>
<body>
<section>
  <nav class="">

    <li><a href="#Home">Home</a></li>
    <li><a href="#About">About</a></li>
    <li><a href="#Projects">Projects</a></li>
  </nav>
</section>
<div id="Home">
  <h1>Home</h1>
  <p>design, development, maintenance, testing, and evaluation of software and systems that make computers or anything containing
    <br>software work. They work across various industries and are responsible for creating efficient, reliable, and scalable
    <br>software solutions to meet specific needs.</p>
</div>

<div id="About">
  <h1>About</h1>
  <h3>Our sevices</h3>
  <h4>Design and Development:</h4>
  <p> Software engineers design software solutions based on requirements, using programming languages
    <br>
    and development tools.
    <br>They create algorithms, data structures, and user interfaces.</p>
  <h4>Coding and Implementation:</h4>
  <p>They write code to implement the design, ensuring it meets quality standards and is maintainable. This involves debugging,
    <br>troubleshooting, and optimizing code for performance.</p>
  <h4>Testing and Quality Assuarance:</h4>
  <p>Engineers conduct testing to identify and fix bugs, ensuring the software meets functional and non-functional requirements.
    <br>This includes unit testing, integration testing, and system testing</p>
  <h4>Deployment and Assuarance:</h4>
  <p>After development, engineers deploy the software and provide ongoing maintenance and support. <br>
    They may also be involved in updating and upgrading software to add new features or improve performance.</p>
</div>
<div id="Projects">
  <h1>Projects</h1>
  <ol>
    <li>Fashion_spot Eccomerce Website</li>
    <li>Personal Portfolio project</li>
    <li>College Content Management System</li>
    <li>Car Hire Management system</li>
  </ol>
  <p></p>
</div>
<footer>
  <p>&copy; Kevin Manoti.All Rights Reserved 2024</p><br>

</footer>
</body>

</html>
